<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="nav-item nav-link" [routerLink]="['/moves']" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Moves</a>
            <a class="nav-item nav-link" [routerLink]="['/graficos']" routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}">Estado server</a>
        </div>

    </div>

</nav>
